<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W2-非同步</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6">
          <h2>產品列表</h2>
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th width="150">
                  產品名稱
                </th>
                <th width="120">
                  原價
                </th>
                <th width="120">
                  售價
                </th>
                <th width="150">
                  是否啟用
                </th>
                <th width="120">
                  查看細節
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in products" :key="item.id">
                <td width="150">{{ item.title }}</td>
                <td width="120">
                  {{ item.origin_price }}
                </td>
                <td width="120">
                  {{ item.price }}
                </td>
                <td width="150">
                  <span v-if="item.is_enabled === 1" class="text-success" >啟用</span>
                  <span v-else>未啟用</span>
                </td>
                <td width="120">
                  <!-- 點擊後將所點擊的item賦予showProduct -->
                  <button 
                    @click="showProduct=item"
                    type="button" 
                    class="btn btn-primary">
                    查看細節
                  </button>
                </td>
              </tr>
             </tbody>
          </table>
          <!-- Object.keys物件轉陣列方式 -->
          <p>目前有 <span>{{ Object.keys(products).length }}</span> 項產品</p>
        </div>
        <div class="col-md-6">
          <h2>單一產品細節</h2>
          <!-- 再從showProduct取出被點擊item的資訊 -->
          <template v-if="showProduct.title">
            <div class="card mb-3">
              <img :src="showProduct.imageUrl" class="card-img-top primary-image" alt="主圖">
              <div class="card-body">
                <h5 class="card-title">
                  {{ showProduct.title }}
                  <span class="badge bg-primary ms-2">{{ showProduct.category }}</span>
                </h5>
                <p class="card-text">商品描述：{{ showProduct.description }}</p>
                <p class="card-text">商品內容：{{ showProduct.content }}</p>
                <div class="d-flex">
                  <p class="card-text me-2">{{ showProduct.category }}</p>
                  <p class="card-text text-secondary">
                    <del>{{ showProduct.price }}</del>
                  </p>
                  元 / {{ showProduct.origin_price }} {{ showProduct.unit }}
                </div>
              </div>
            </div>
            <template v-for="img in showProduct.imagesUrl" :key="key">
              <img :src="img" alt="" class="images m-2">
            </template>
          </template>
          <!-- 點擊的item就顯示item，不然就顯示“請選擇...” -->
          <p v-else class="text-secondary">請選擇一個商品查看</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="./products.js" type="module"></script>
</body>
</html>